ANALYSIS AND VISUALISATION

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/Customer-Churn-Records.csv')

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [ ]:
data.shape

(10000, 18)

In [ ]:
data.isna().any()

RowNumber             False
CustomerId            False
Surname               False
CreditScore           False
Geography             False
Gender                False
Age                   False
Tenure                False
Balance               False
NumOfProducts         False
HasCrCard             False
IsActiveMember        False
EstimatedSalary       False
Exited                False
Complain              False
Satisfaction Score    False
Card Type             False
Point Earned          False
dtype: bool

In [ ]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

In [ ]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203800,0.204400,3.013800,606.515100
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402842,0.403283,1.405919,225.924839
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,1.000000,119.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,2.000000,410.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.000000,3.000000,605.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,0.000000,4.000000,801.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,5.000000,1000.000000

In [ ]:
x=data.iloc[:,:8]
x

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure
0,1,15634602,Hargrave,619,France,Female,42,2
1,2,15647311,Hill,608,Spain,Female,41,1
2,3,15619304,Onio,502,France,Female,42,8
3,4,15701354,Boni,699,France,Female,39,1
4,5,15737888,Mitchell,850,Spain,Female,43,2
...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5
9996,9997,15569892,Johnstone,516,France,Male,35,10
9997,9998,15584532,Liu,709,France,Female,36,7
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3
9999,10000,15628319,Walker,792,France,Female,28,4

In [ ]:
x.head()

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure
0          1    15634602  Hargrave          619    France  Female   42       2
1          2    15647311      Hill          608     Spain  Female   41       1
2          3    15619304      Onio          502    France  Female   42       8
3          4    15701354      Boni          699    France  Female   39       1
4          5    15737888  Mitchell          850     Spain  Female   43       2

In [ ]:
y=data.Exited

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

DATA PREPROCESSING

ONE-HOT-ENCODER

In [ ]:
# Drop identifier columns
x_preprocessed = x.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

# One-hot encode categorical features
x_preprocessed = pd.get_dummies(x_preprocessed, columns=['Geography', 'Gender'], drop_first=True)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_preprocessed, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_scaled = sc.fit_transform(x_train)
# Select numerical columns for scaling
numerical_cols = ['CreditScore', 'Age', 'Tenure']
# Fit and transform the scaler on the training data
x_train[numerical_cols] = sc.fit_transform(x_train[numerical_cols])

# Transform the test data using the fitted scaler
x_test[numerical_cols] = sc.transform(x_test[numerical_cols])

In [ ]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()
x_train_resampled,y_train_resampled=smote.fit_resample(x_train,y_train)
y_train_resampled.value_counts()

Exited
0    6355
1    6355
Name: count, dtype: int64

SVM CLASSIFIER

In [ ]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

In [ ]:

from sklearn.metrics import accuracy_score

DESICION TREE

In [ ]:
from sklearn import tree
dt=tree.DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

NAIVE BAYES CLASSIFIER

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train,y_train)
y_pred=nb.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

ADA BOOST CLASSIFIER

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

ab = AdaBoostClassifier()
ab.fit(x_train, y_train)
y_pred = ab.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

XG BOOST CLASSIFIER

In [ ]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
y_pred=xgb.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

K MEANS CLASSIFIER

In [ ]:
from sklearn.cluster import KMeans
kmeans=KMeans()
kmeans.fit(x_train,y_train)
y_pred=kmeans.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")

KNN CLASSIFIER

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {accuracy:.4f}")